* {
    margin: 0;
}
#parent {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.child {
    background: rgb(255, 255, 61);
    height: 200px;
    width: 200px;
}